*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-size: 75%;
  font-family: system-ui, sans-serif;
  display: block;
  margin: 8px;
  background-image:url("img-baku", "img-london", "img-madrid", "img-rome");
  background-size:contain;
  background-repeat:repeat-x;
}
h1{
  font-style:bold;
  font-size: 150%;
}
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
.preview {
  position: relative;
  text-align: center;
  float: left;
}

.txtdiv  {
  position: absolute;
  top: 8px;
  left: 16px;
}

.txtdiv2  {
  width: 50%;
  position: absolute;
  top: 5%;
  left: 4%;
}
.txtdiv3  {
  width: 50%;
  position: absolute;
  top:5%;
  left: 4%;
}
.txtdiv4  {
  width: 50%;
  position: absolute;
  top: 5%;
  left: 4%;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}
.img-baku {
  width: 100%
  }
.img-london {
width: 100%
}
.img-madrid {
width: 100%
}
.img-rome {
width: 100%
}
